@media (max-width: 375px) {
    .bg {
        .dark-overlay {
            .container {
                .box-task {
                    .box-task-wrapper {
                        width: 70%;

                        .box-task-single {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 934px) {
    .bg {
        height: 150vmax;
        .dark-overlay {
            .container {
                .box-task {
                    .box-task-wrapper {
                        width: 85%;
                        height: 100vh;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .bg {
        height: 170vmax;

        .dark-overlay {
            .container {
                .box-task {
                    .box-task-wrapper {
                        height: 96.5vh;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .bg {
        .dark-overlay {
            .container {
                .box-task {
                    .box-task-wrapper {
                        height: 100vh;
                    }
                }
            }
        }
    }
}

@media (max-height: 700px) {
    .bg {
        height: 70vmax;
    }
}